   
.Visualizer{
    width: 100%;
}
.Visualizer-container{
    width: 100%;
}

.Visualizer-bars{
    width: 100%;
}
.Visualizer-single-bar{
    width: 5px;
    display: inline-block;
    margin-left: 1px;;
}